body{
	background-color: #ddd;
	font-family:Tahoma;
}
header{
	text-align: right;
	font-size: 0.9em;
	padding-right: 5px;

}
form#busca{
	text-align: right;
	font-size: 0.9em;
}
div#corpo{
	width: 800px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.281);
	border-radius: 9px;
}

table.listagem{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.listagem tr{
	height: 50px;
}

table.listagem td{
	padding: 5px;
}

table.listagem tr:nth-child(even){
	background-color: #f2f2f2;
}

table.listagem td:nth-child(1){
	width: 50px;
}
table.listagem td:nth-child(3){
	width: 90px;
}

table.detalhes{
	width: 100%;
}

table.detalhes td{
	padding: 10px;
	vertical-align: top;
	/*border: 1px solid black; */
}

img.mini{
	width: 50px;
}
img.full{
	height: 400px;
}

footer{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

div.sucesso{
	display: inline-block;
	padding: 3px 10px;
	border-radius: 50px;
	background-color: rgba(153, 240, 153, 0.726);
	text-align: center;
	color: rgb(55, 131, 55);
}
div.aviso{
	display: inline-block;
	padding: 3px 10px;
	border-radius: 50px;
	background-color: rgba(234, 240, 153, 0.726);
	text-align: center;
	color: rgb(131, 130, 55);
}
div.erro{
	display: inline-block;
	padding: 3px 10px;
	border-radius: 50px;
	background-color: rgba(240, 153, 153, 0.726);
	text-align: center;
	color: rgb(131, 55, 55);
}

a.back{
	margin-top: 10px;
}